/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #d6c685;
    background: linear-gradient(350deg, rgba(231, 213, 139, 0.62) 0%, rgba(255, 255, 255, 1) 100%);
    background-attachment: fixed;
    color: #000;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 20px 104px 20px 94px !important;
    
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12) !important;
    
}


*, body, h2, th, td, button, input {
    font-family: 'Inter', sans-serif !important;
}


h2 {
    font-weight: 800 !important;
    text-transform: uppercase;
    letter-spacing: -2px; 
    font-size: 3.5rem;    
    margin-bottom: 2rem;
}

.form-control {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #000000 !important; 
    border-radius: 0 !important;
    padding-left: 0 !important;
    
    transition: border-bottom-color 0.3s ease;
}

.form-control:focus {
    box-shadow: none !important;
    border-bottom-color: #000 !important; 
}

.form-label {
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 1px;
    font-weight: 800;
    color: #444;
}

thead th {
    font-weight: 800 !important;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 1px;
    border-bottom: 2px solid #000 !important; 
    padding-bottom: 1rem !important;
}

tbody td {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    font-weight: 500;
    border-bottom: 1px solid rgba(0,0,0,0.1) !important;
}
 
tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.4) !important;
}